.header {
  background-color: #131c3d;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 0;
  color: #fff;
}

.header__title {
  font-size: 30px;
}

.nav {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.nav__link {
  text-decoration: none;
  color: #fff;

  user-select: none;
}
